<VirtualHost *:80>

    PerlWarn Off
    LogLevel error

    ServerName smmid.org

    <Perl>
      use lib '/usr/share/smmid-site/SMMID/lib';
      use lib '/usr/share/smmid-site/lib/perl5';

      use SMMID;
      SMMID->configure_mod_perl( vhost => 1 );

    </Perl>

</VirtualHost>
