
<h1>SMID details for smid <b>[% smmid %]</b></h1>

SMID ID: <b>[% smmid %]</b> <br /><br />
CHEMICAL NAME: [% chemical_name %]<br /><br />
CONCISE SUMMARY: [% concise_summary %]<br /><br />
SYNONYMS: [% synonyms %]<br /><br />
CAS: [% cas %]<br /><br />
MOLECULAR WEIGHT: [% molecular_weight %]<br /><br />
MOLECULAR FORMULA: [% molecular_formula %]<br /><br />

BIOSYNTHESIS REFERENCES: 
[% FOREACH link IN biosynthesis_references %]
 <a href="[% link.1 %]">[% link.0  %]</a>&nbsp;&nbsp;
[% END %]
<br /><br />

RECEPTOR REFERENCES: 
[% FOREACH link IN receptor_references %]
 <a href="[% link.1 %]">[% link.0  %]</a>&nbsp;&nbsp;
[% END %]
<br /><br />
REFERENCES: [% FOREACH link IN links %]
 <a href="[% link.1 %]">[% link.0  %]</a>&nbsp;&nbsp;
[% END %]
<br /><br />
STRUCTURE FILE: [% structure_file %]<br />
STRUCTURE: <br /> <img src="[% structure_file %]" />
<br /><br />


