
html {
    height: 100%;
}

body { 
    background-color: white;
    font-family: arial;
    color: dark grey;
    margin: 10px;
    padding: 10px;
    height: 100%;
    font-face: arial;
}

.header {
    margin: 0 auto;
    background-color: litegray;
    font-color: darkblue;
    border-bottom: 5px solid lightblue;
    width: 100%;
}

.footer {
    background-color: white;
    text-align: left;
    font-size: 9pt;
    color: lightblue;
    border-top: 1px solid lightblue;
    width: 100%;
    padding-top: 10px;
    margin: 10px;
}

.content {
    padding: 10px;
    margin: 0 auto;
    width: 90%;
}

h1 {
    padding: 20px;
    margin: 0px;
    text-decorations: none;
}

.sitetitle { 
    font-family: arial;
    text-decoration: none;
    font-size: 28pt;
    font-weight: 1000;
    color: lightblue;
    margin-bottom: 0px;   
}

.header_link:link {
    font-family: arial;
    font-size:14pt;
    font-weight: bold;
    color: lightblue;
    text-decoration: none;
    margin-right: 20pt;
}

.header_link:visited {
    color: lightblue;
}

.message {
    color: red;
}

.error {
    color: red;
}
