
html {
    height: 100%;
}

body { 
    background-color: white;
    font-family: arial;
    color: dark grey;
    margin: 10px;
    padding: 10px;
    height: 100%;
    font-face: arial;
}

.header {
    margin: 0 auto;
    background-color: litegray;
    font-color: darkblue;
    border-bottom: 5px solid lightblue;
    width: 100%;
}

.footer {
    background-color: white;
    text-align: left;
    font-size: 9pt;
    color: lightblue;
    border-top: 1px solid lightblue;
    width: 100%;
    padding-top: 10px;
    margin: 10px;
}

.content {
    padding: 10px;
    margin: 0 auto;
    width: 90%;
}

h1 {
    text-align: center;
    color: darkgrey;
    font-family: arial;
    font-weight: 1000;
    font-size: 24pt;
    padding: 20px;
    text-decorations: none;
}

h2 {
    text-align: center;
    color: darkgrey;
    font-family: arial;
    font-weight: 1000;
    font-size: 18pt;
    padding: 20px;
    text-decorations: none;
}


.sitetitle { 
    font-family: fira sans ultra;
    text-decoration: none;
    font-size: 28pt;
    font-weight: 1000;
    color: lightblue;
    margin-bottom: 0px;   
}

.sitetitle:hover {
    text-decoration: none;
    color: lightblue;
}

.header_link:link {
    font-family: fira sans;
    font-size:14pt;
    font-weight: bold;
    color: lightblue;
    text-decoration: none;
    margin-right: 20pt;
}

.header_link:visited {
    color: lightblue;
}

.error_message {
    border: 1px;
    background-color: red;
    font-color: green;
    margin: auto;
    padding: 100px;
}

.error {
    color: red;
}

input {
    color: darkblue;
    background: lightgrey;
}

input:disabled {
    border: none;
    color: black;
    background: white;
}

textarea {
    color: darkblue;
    background: lightgrey;
}

textarea:disabled {
    border: none;
    color: black;
    background: white;
}

