[% META title = 'SMID-DB.org' %]

<div>
<h2>Welcome to the <i>C. elegans</i> Small Molecule Identifier Database (SMID DB)</h2>
<br />
<b>SMIDs</b> are <u><b>S</u></b>mall <u><b>M</u></b>olecule <u><b>Id</u></b>entifiers that aim to make life easier for describing biogenic small molecules 
in metabolomic and genomic applications. Conceptually, they represent gene-style identifiers for small molecules newly identified in the nematode <i>C. elegans</i>.     <br /><br />
</div>

<div id="content1">

<a href="/about">More about SMIDs</a><br /><br />

<a href="/browse">Browse SMIDs</a><br /><br />
<form method="get" action="http://www.google.com/search">
Search for a specific SMID:
<div style="border:1px solid black;padding:4px;width:21em;">
<table border="0" cellpadding="0">
<tr><td>
<input type="text"   name="q" size="25"
 maxlength="255" value="" />
<input type="submit" value="Google Search" /></td></tr>
<tr><td align="center" style="font-size:75%">
Syntax when searching: "ascr#2" not "ascr # 2" or "ascr #2"
<input type="checkbox"  name="sitesearch"
 value="smid-db.org" checked /> only search SMID DB <br />
</td></tr></table>
</div>

</form>
<a href="/contact">Contact us</a><br /><br />
<div id="content2">

<img src="/static/images/smid_front_page_imagesmaller.png" /> <br/><br/>
</div>

