[% META title = 'SMID-DB.org' %]



<h2>Welcome to the Small Metabolite Identifier Database (SMID DB)</h2>
<br /><br />
SMIDs are Small Molecule Metabolite Identifiers that aim to make life easier for describing metabolites in metabolomic and genomic applications. Conceptually, they represent gene-style identifiers for <i>C. elegans</i> small molecule signals.
    <br /><br /><br /><br />
<a href="/about">More about SMIDs</a><br /><br />

<a href="/browse">Browse SMIDs</a><br /><br />

<a href="/contact">Contact us</a><br /><br />

<br /><br /><br />

